node_modules/
.next/
tailwindcss4.exe
out/
build/
.env
.env*.local
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
pg/

data/
postgres/
**/pg/data/
*.tar.gz
.runtime/
postgresql-16.3/
.venv/

**/pg/data/

*.pyc

__pycache__/
